.git
.github
.gitignore
.env.backup
.env.example
.editorconfig
.vscode
node_modules
npm-debug.log
yarn-error.log
vendor
storage/logs
storage/debugbar
.DS_Store
Thumbs.db
*.md
!README.md
.run.sh.un~
.pytest_cache
.phpunit.result.cache
docker-compose.dev.yml
Procfile
*.log
.env.*.local
tests/
phpunit.xml
vite.config.js
package-lock.json
public/storage
